*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
  border-color: transparent;
  text-transform: capitalize;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

/* Blues */
/* Greens */
/* Yellows */
/* Misc */
/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.menu li {
  top: 100%;
  left: 0;
  position: absolute;
}

.sticky-bar {
  top: 0;
  left: 0;
  position: fixed;
}

.submenu {
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #222;
  color: #2e73b8;
  line-height: 1.5;
  font-size: 0.875rem;
  padding-bottom: 5rem;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #577da2;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
/* Blues */
/* Greens */
/* Yellows */
/* Misc */
/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.menu li {
  top: 100%;
  left: 0;
  position: absolute;
}

.sticky-bar {
  top: 0;
  left: 0;
  position: fixed;
}

.submenu {
  position: relative;
}

div#homePage {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
div#homePage div.person {
  width: 40%;
  min-width: 250px;
  box-shadow: 5px 5px 2.5px #2e73b8;
  border: 1px solid rgba(156, 179, 201, 0.5);
}
div#homePage div.person h3 span {
  color: #9cb3c9;
  white-space: nowrap;
}

div#blogposts {
  width: 70%;
  margin: 1rem auto;
}
div#blogposts div.post {
  padding: 0.5rem;
  width: 100%;
  box-shadow: 5px 5px 2.5px #2e73b8;
  border: 1px solid rgba(156, 179, 201, 0.5);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
div#blogposts div.post img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 50%;
  min-width: 250px;
}
@media only screen and (max-width: 720px) {
  div#blogposts div.post {
    flex-wrap: wrap;
  }
}

div#recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin: 1rem auto;
}
div#recipes div.recipe {
  width: 30%;
  min-width: 250px;
  text-align: center;
  box-shadow: 5px 5px 2.5px #2e73b8;
  border: 1px solid rgba(156, 179, 201, 0.5);
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
}
div#recipes div.recipe img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
}
div#recipes div.recipe h3 {
  width: 100%;
}
div#recipes div.recipe a, div#recipes div.recipe a:visited {
  background-color: #2e73b8;
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 1rem 1rem 0 0;
}

nav#navbar {
  position: fixed;
  bottom: -100%;
  left: 15%;
  width: 70%;
  height: max-content;
  background-color: #2e73b8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  border: 5px solid #222;
  border-bottom: none;
  transition: bottom 0.3s;
  color: #fff;
  z-index: 1000;
}
nav#navbar div {
  position: fixed;
  bottom: 1rem;
  padding: 0.5rem 10vw;
  width: max-content;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  border-bottom: 5px solid #2e73b8;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: #2e73b8;
}
nav#navbar div img {
  height: 2rem;
}
nav#navbar div h1 {
  font-size: 2rem;
}
nav#navbar ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
nav#navbar ul li {
  flex-grow: 1;
  width: max-content;
  min-width: 200px;
  height: max-content;
  display: inherit;
  align-items: inherit;
  transition: background-color 0.3s;
}
nav#navbar ul li a,
nav#navbar ul li a:visited {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
nav#navbar ul li:hover {
  background-color: rgba(34, 34, 34, 0.25);
}
nav#navbar ul li form {
  width: 100%;
}
nav#navbar ul li form button {
  width: 100%;
  background-color: transparent;
  color: inherit;
  font-size: 2rem;
}
nav#navbar:hover, nav#navbar.scrolled {
  bottom: 0;
}
nav#navbar:hover div, nav#navbar.scrolled div {
  opacity: 0;
  z-index: -1;
}

div#heading {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  border-bottom: 2px solid #2e73b8;
}

div#indRecipe {
  width: 70%;
  min-height: 70vh;
  margin: 1rem auto;
  padding: 0.5rem;
  box-shadow: 5px 5px 2.5px #2e73b8;
  border: 1px solid rgba(156, 179, 201, 0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
div#indRecipe div#leftHalf, div#indRecipe div#rightHalf {
  width: 50%;
  min-width: 250px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
div#indRecipe div#leftHalf ul, div#indRecipe div#rightHalf ul {
  list-style-type: square;
  min-width: 150px;
}
div#indRecipe div#leftHalf ul li, div#indRecipe div#rightHalf ul li {
  text-transform: lowercase;
}
div#indRecipe div#leftHalf ol li, div#indRecipe div#rightHalf ol li {
  text-transform: capitalize;
}
div#indRecipe div#rightHalf {
  padding-left: 2rem;
}
div#indRecipe img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
}

div.contactDiv {
  width: 70%;
  min-height: 70vh;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 2.5px #2e73b8;
  border: 1px solid rgba(156, 179, 201, 0.5);
}
div.contactDiv:has(div#emailForm.active) {
  z-index: 10;
}
div.contactDiv form#emailForm {
  width: 80vw;
  height: 70vh;
  color: white;
}
div.contactDiv form#emailForm *:focus {
  outline: none;
}
div.contactDiv form#emailForm h1 {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid rgba(156, 179, 201, 0.5);
  text-align: center;
  font-size: calc(2vw + 2vh);
  margin: 0;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}
div.contactDiv form#emailForm input {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid rgba(156, 179, 201, 0.5);
  color: inherit;
  padding: 1vw;
}
div.contactDiv form#emailForm input::placeholder {
  color: inherit;
}
div.contactDiv form#emailForm textarea {
  width: 100%;
  height: 50%;
  padding: 1vw;
  color: inherit;
  resize: none;
  margin: 0;
  font-family: inherit;
  border-bottom: 1px solid rgba(156, 179, 201, 0.5);
}
div.contactDiv form#emailForm textarea::placeholder {
  color: inherit;
}
div.contactDiv form#emailForm button {
  width: 100%;
  height: 10%;
  margin-top: -0.25rem;
  color: inherit;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  font-weight: bold;
}
div.contactDiv form#emailForm button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

/*# sourceMappingURL=main.css.map */
