$transition: all 0.5s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;

$clr-primary: hsl(210, 60%, 45%);
$clr-secondary: #fff;
$dark-background: #222;

$border-shadow: 5px 5px 2.5px $clr-primary;
$grey-border: 1px solid rgba(hsl(210, 30%, 70%), 0.5);